/* AccountSetting.css */
.account-settings-container {
  background: #343a40; /* Main background for dark mode */
  color: #fff; /* Text color for dark mode */
  font-family: 'Arial', sans-serif; /* Font family */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* More pronounced shadow for depth */
  max-width: 600px;
  margin: 30px auto;
}

.account-settings {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.account-settings-form {
  background: #171c21; /* Form background for dark mode */
  padding: 20px;
  border-radius: 4px;
}

.account-settings-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.account-settings-form input[type="text"],
.account-settings-form input[type="email"],
.account-settings-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da; /* Adding a border for better visibility */
  border-radius: 4px;
  font-size: 16px;
  background: #6c757d; /* Slightly lighter input background for contrast */
  color: #e9ecef; /* Light text for readability */
}

.account-settings-form input[type="text"]:disabled,
.account-settings-form input[type="email"]:disabled,
.account-settings-form select:disabled {
  background: #5a6268; /* Darker background for disabled inputs */
  cursor: not-allowed;
  color: #adb5bd; /* Gray text for disabled inputs */
}

.account-settings-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #343a40; /* Dark text for buttons */
  background-color: #f8f9fa; /* Light background for buttons */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.account-settings-form button:hover {
  background-color: #e2e6ea; /* Slightly darker on hover */
  color: #212529; /* Slightly darker text on hover */
}

.account-settings-form button[type="button"] {
  background-color: #6c757d; /* Button color for secondary actions */
}

.account-settings-form button[type="button"]:hover {
  background-color: #5a6268; /* Darker shade on hover for secondary buttons */
}

.account-settings-form .errorMessage {
  color: #ff4444; /* Brighter red for error messages for better visibility */
  font-size: 12px;
  margin-bottom: 10px;
}
