.admin-content-moderation-container {
  background-color: #343a40; 
  color: #fff; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 20px;
  min-height: 100vh;
}

.admin-content-moderation-container h1 {
  text-align: center; 
  margin-bottom: 30px; 
}

.content-table-container {
  background-color: #171c21; 
  border-radius: 8px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px;
}

.content-table-container table {
  width: 100%;
  border-collapse: collapse; 
}

.content-table-container th,
.content-table-container td {
  text-align: left; 
  padding: 12px 15px; 
  border-bottom: 1px solid #495057;
}

.content-table-container th {
  background-color: #212529; 
  color: #dee2e6; 
}

.content-table-container tbody tr:hover {
  background-color: #495057; 
}

.content-custom-alert {
  background-color: #155724;; 
  color: #d4edda; 
  padding: 10px;
  border-radius: 4px;
  position: relative; 
  margin-bottom: 20px; 
}

.content-alert-content {
  margin-right: 30px; /* Space for the close button */
}

.close-content-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.close-content-alert:hover {
  color: #f8d7da; 
}

.content-table-container .btn-danger {
  background-color: #dc3545; 
  border-color: #dc3545; 
  color: #fff; 
  padding: 5px 10px; 
  font-size: 14px; 
  line-height: 1.5; 
  border-radius: 4px;
  transition: background-color 0.3s;
}

.content-table-container .btn-danger:hover {
  background-color: #c82333; 
  border-color: #bd2130; 
}
