.admin-file-container {
  background-color: #343a40; 
  color: #fff; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 20px;
  min-height: 100vh;
}
  
.admin-file-container h1 {
  text-align: center;
  color: #ffffff; 
  margin-bottom: 2rem;
}
  
.table-container {
  overflow-x: auto; 
 }
  
.table {
  background-color: #171c21; 
  border-radius: 8px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px;
}
  
.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #495057;
  color: #ffffff; 
  padding: 1rem;
}
  
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #495057;
  color: #ffffff;
}
  
.table-hover tbody tr:hover {
  background-color: #3d434a;
}
  
.custom-alert {
  background-color: #155724; 
  color: #d4edda; 
  padding: 10px 20px; 
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
  max-width: 30%; 
  margin-left: auto;
  margin-right: auto;
}
  
.alert-content {
  font-weight: bold;
  font-size: 0.9rem; 
}
  
.close-alert {
  color: #d4edda; 
  background-color: transparent;
  border: none;
  padding: 5px; 
  cursor: pointer;
  position: relative;
  font-size: 1rem; 
}
  
.close-alert:hover {
  opacity: 0.8;
}
  
.btn-danger {
  background-color: #dc3545; 
  border-color: #dc3545;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
  
.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
  

@media (max-width: 768px) {
  .admin-content-moderation-container {
    padding: 1rem;
    margin: 1rem;
  }
}