* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

.navbar-brand, .navbar-nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar-nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card:nth-child(even) .card-image {
    order: 2;
  }
  
.card:nth-child(even) .card-content {
    order: 1;
    align-items: flex-end;
  }

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333941;
    width: 90%;
    height: 100vh;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card-image {
    width: 60%; /* Adjust to fit the card */
    height: 100%; /* Adjust to fit the card */
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
    animation: image-slide 1s ease-in-out;
    object-fit: cover; /* This ensures the image covers the area without stretching */
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card-content {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    margin-bottom: 10px;
    align-items: center;
}

@keyframes image-slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}