.job-posting-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background: #343a40; 
}

.job-posting-title {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-top: 20px; 
}

.company-card, .job-posting-card {
    border: 2px solid #ddd; 
    border-radius: 8px; 
    width: calc(33.333% - 20px); 
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: box-shadow 0.3s ease-in-out;
    background: #171c21; 
}

.company-card:hover, .job-posting-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.company-card img, .job-posting-card img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    margin-bottom: 10px;
    background: #171c21; 
}

button {
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #218838;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .company-card, .job-posting-card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .company-card, .job-posting-card {
        width: 100%; 
        margin-bottom: 20px;
    }

    .modal {
        padding: 10px;
        width: 100%;
        max-height: 90vh;
    }
}
